# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
__pycache__/
# 
# Other files and folders
.settings/
result/
data/
# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
